# Defaults from clj template ####################
/out/
/target/
/resources/public/js/compiled/
!/resources/public/js/compiled
/resources/public/js/compiled/*
!/resources/public/js/compiled/app.js
!/resources/public/js/compiled/manifest.edn
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/



# Mine ##########################################
.idea/
*.iml
pom.xml
